.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

.card-body {
    background-image: url("/assets/BackgroundImage/galaxy.jpeg");
    color: white;
}

.card-footer {
    background-image: url("/assets/BackgroundImage/galaxy.jpeg");
    
}