<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav item">
                <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-white">Home</a>
            </li>
            <li class="nav item">
                <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-white">Portfolio</a>
            </li>
            <!--
            <li class="nav item">
                <a class="nav-link text-secondary" routerLink="/services" routerLinkActive="text-white">Services Offered</a>
            </li>
             -->
            <li class="nav item">
                <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive="text-white">Contact Me</a>
            </li>
        </ul>
    </div>

</nav>


