<div class="container">

    <div class="mb-2">
        <div>
            <button class="btn btn-outline-primary mb-2 me-2" (click)="isCollapsed = !isCollapsed">Filter</button>
            <button class="btn btn-outline-secondary mb-2" (click)="ResetFilters()" [hidden]="!filtering">Reset</button>
        </div>

        <div [collapse]="isCollapsed" [isAnimated]="true">  <!--all the html in this div will be collapsed or uncollapsed-->
            <div class="border mb-2 shadow-sm" style="width: 250px;"> 
                <form>
                    <div class="row mx-0">
                        <div class="col">
                            <small><b>Languages:</b></small>
                            <div class="form-group">
                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="typescript"
                                        (change)="Filter()" 
                                        name="Typescript">
                                        <!-- example of 2 way data binding. 
                                            the value of the typescript boolean will be kept in sync 
                                            with the value of the checkbox and vice versa-->
                                        
                                    <label class="form-check-label small">Typescript</label>
                                </div>

                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="javascript"
                                        (change)="Filter()" 
                                        name="Javascript">
                                    <label class="form-check-label small">Javascript</label>
                                </div>

                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="python"
                                        (change)="Filter()" 
                                        name="Python">
                                    <label class="form-check-label small">Python</label>
                                </div>

                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="java"
                                        (change)="Filter()" 
                                        name="Java">
                                    <label class="form-check-label small">Java</label>
                                </div>

                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="html"
                                        (change)="Filter()" 
                                        name="HTML">
                                    <label class="form-check-label small">HTML/CSS</label>
                                </div>

                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="vbnet"
                                        (change)="Filter()" 
                                        name="Vbnet">
                                    <label class="form-check-label small">Vbnet</label>
                                </div>





                            </div>
                        </div>

                        <div class="col">
                            <small><b>Frameworks:</b></small>
                            <div class="form-group">
                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="angular"
                                        (change)="Filter()" 
                                        name="Angular">
                                    <label class="form-check-label small">Angular</label>
                                </div>
                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="react"
                                        (change)="Filter()" 
                                        name="React">
                                    <label class="form-check-label small">React</label>
                                </div>

                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="flask"
                                        (change)="Filter()" 
                                        name="Flask">
                                    <label class="form-check-label small">Flask</label>
                                </div>

                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="uipath"
                                        (change)="Filter()" 
                                        name="UiPath">
                                    <label class="form-check-label small">UiPath</label>
                                </div>

                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="springboot"
                                        (change)="Filter()" 
                                        name="Springboot">
                                    <label class="form-check-label small">Springboot</label>
                                </div>

                                <div class="form-check">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input position-static me-2"
                                        [(ngModel)]="expressjs"
                                        (change)="Filter()" 
                                        name="Expressjs">
                                    <label class="form-check-label small">Expressjs</label>
                                </div>


                            </div>
                        </div>
                        
                    </div>
                </form>
            </div> 
        </div>
    </div>

    <div class="row">
        <!--*ngFor loops through the array of projects in the ts file-->
        <div *ngFor="let project of projects" class="col-lg-4 col-md-6 mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card [project]="project"></app-project-card>  <!--references to the project-card component-->       

        </div>
    </div>
</div>
