<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Services!</h2>
    <section class="services">
        

        <div class="row">
            <div class="column">
                <div class="card">
                    <h3>Web Scraping/Data Extraction</h3>
                    <p>Starting at $499</p>
                </div>
            </div>
        

            <div class="column">
                <div class="card">
                    <h3>Software or App Development</h3>
                    <p>Starting at $999</p>
                </div>
            </div>
        

            <div class="column">
                <div class="card">
                    <h3>Simple Website</h3>
                    <p>Starting at $299</p>
                </div>
            </div>
        

            <div class="column">
                <div class="card">
                    <h3>eCommerce Website</h3>
                    <p>Starting at $399</p>
                </div>
            </div>


            <div class="column">
                <div class="card">
                    <h3>Appointment Booking App</h3>
                    <p>Starting at $399</p>
                </div>
            </div>


            <div class="column">
                <div class="card">
                    <h3>Database Development</h3>
                    <p>Starting at $399</p>
                </div>
            </div>

        </div>
    </section>
    
</body>
</html>
