h2 {
    color: #0ef;
}

.container {
    background-color: black;
    color: white;
    border: #0ef;
}

.col-lg-5.about-me, .col-lg-6.featured-project {
    border: 1px solid #0ef; /* Set the border color to #0ef (blue) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
    padding: 15px; /* Optional: Add some padding for better visual appearance */
    margin-bottom: 30px;
}

.about-me {
    margin-right: 15px; /* Adjust the margin as needed for spacing */
}

.featured-project {
    margin-left: 15px; /* Adjust the margin as needed for spacing */
}

.text-left {
    color: yellow;
}
